
*/
/* Style untuk header */
header {
    background-color: #002147; /* Biru tua UGM */
padding: 20px;
}
header img {
height: 50px;
}
nav ul {
list-style: none;
display: flex;
justify-content: flex-end;
}
nav ul li {
margin-left: 20px;
}
nav ul li a {
color: #fff;
text-decoration: none;
font-weight: bold;
}
/* Style untuk footer */
footer {
background-color: #F4D03F; /* Warna emas UGM */
color: #002147;
padding: 20px;
text-align: center;
}
footer a {
color: #002147;
text-decoration: none;
}